

    body {
        background-color: #000;
        text-align: center;
    }

    div.zbllalgcount {
        background: #222;
        font-family: monospace;
        color: #ddd;
        padding: 15px;
        margin: 20px 10px;
        height: 64px;
        text-align: left;
        font-size: 1.2em;
    }

    div.zbllalgcount div {
        padding: 5px ;
    }

    div.zbllblock {

        color: #ddd;
        background: #444;
        font-family: Verdana, Arial, sans-serif;
        font-size: 6pt;
        position: absolute;
        display: block;
        text-align: center;
        border: 1px solid #000;
        width: 105px;
        height: 190px;
        padding: 2px;
    }

    div.zbllalg {
        padding: 8px 2px;
        font-size: 8pt;
    }

    div.zbllblock:hover, div.collblock:hover, div.ocllblock:hover {
        background: #446;
    }
    div.knownfull {
        color: #fff;
        background: #163;
    }
    div.knownpartial{
        background: #ffd;
    }
    div.notknown {
        background: #222;
    }
    
#Case00 {
    left: 20;
    top: 152;
}
#CaseZBLL0 {
    left: 20px;
    top: 152px;
}
#CaseZBLL1 {
    left: 130px;
    top: 152px;
}
#CaseZBLL2 {
    left: 240px;
    top: 152px;
}
#CaseZBLL3 {
    left: 350px;
    top: 152px;
}
#CaseZBLL4 {
    left: 460px;
    top: 152px;
}
#Case0D {
    left: 20;
    top: 353;
}
#CaseZBLL5 {
    left: 20px;
    top: 353px;
}
#CaseZBLL6 {
    left: 130px;
    top: 353px;
}
#CaseZBLL7 {
    left: 240px;
    top: 353px;
}
#CaseZBLL8 {
    left: 350px;
    top: 353px;
}
#CaseZBLL9 {
    left: 460px;
    top: 353px;
}
#Case0F {
    left: 20;
    top: 554;
}
#CaseZBLL10 {
    left: 20px;
    top: 554px;
}
#CaseZBLL11 {
    left: 130px;
    top: 554px;
}
#CaseZBLL12 {
    left: 240px;
    top: 554px;
}
#CaseZBLL13 {
    left: 350px;
    top: 554px;
}
#CaseZBLL14 {
    left: 460px;
    top: 554px;
}
#CaseZBLL15 {
    left: 570px;
    top: 554px;
}
#CaseZBLL16 {
    left: 680px;
    top: 554px;
}
#CaseZBLL17 {
    left: 790px;
    top: 554px;
}
#CaseZBLL18 {
    left: 900px;
    top: 554px;
}
#CaseZBLL19 {
    left: 1010px;
    top: 554px;
}
#CaseZBLL20 {
    left: 1120px;
    top: 554px;
}
#CaseZBLL21 {
    left: 1230px;
    top: 554px;
}
#CaseA0 {
    left: 20;
    top: 817;
}
#CaseZBLL22 {
    left: 20px;
    top: 817px;
}
#CaseZBLL23 {
    left: 130px;
    top: 817px;
}
#CaseZBLL24 {
    left: 240px;
    top: 817px;
}
#CaseZBLL25 {
    left: 350px;
    top: 817px;
}
#CaseZBLL26 {
    left: 460px;
    top: 817px;
}
#CaseZBLL27 {
    left: 570px;
    top: 817px;
}
#CaseZBLL28 {
    left: 680px;
    top: 817px;
}
#CaseZBLL29 {
    left: 790px;
    top: 817px;
}
#CaseZBLL30 {
    left: 900px;
    top: 817px;
}
#CaseZBLL31 {
    left: 1010px;
    top: 817px;
}
#CaseZBLL32 {
    left: 1120px;
    top: 817px;
}
#CaseZBLL33 {
    left: 1230px;
    top: 817px;
}
#CaseAB {
    left: 20;
    top: 1018;
}
#CaseZBLL34 {
    left: 20px;
    top: 1018px;
}
#CaseZBLL35 {
    left: 130px;
    top: 1018px;
}
#CaseZBLL36 {
    left: 240px;
    top: 1018px;
}
#CaseZBLL37 {
    left: 350px;
    top: 1018px;
}
#CaseZBLL38 {
    left: 460px;
    top: 1018px;
}
#CaseZBLL39 {
    left: 570px;
    top: 1018px;
}
#CaseZBLL40 {
    left: 680px;
    top: 1018px;
}
#CaseZBLL41 {
    left: 790px;
    top: 1018px;
}
#CaseZBLL42 {
    left: 900px;
    top: 1018px;
}
#CaseZBLL43 {
    left: 1010px;
    top: 1018px;
}
#CaseZBLL44 {
    left: 1120px;
    top: 1018px;
}
#CaseZBLL45 {
    left: 1230px;
    top: 1018px;
}
#CaseAD {
    left: 20;
    top: 1219;
}
#CaseZBLL46 {
    left: 20px;
    top: 1219px;
}
#CaseZBLL47 {
    left: 130px;
    top: 1219px;
}
#CaseZBLL48 {
    left: 240px;
    top: 1219px;
}
#CaseZBLL49 {
    left: 350px;
    top: 1219px;
}
#CaseZBLL50 {
    left: 460px;
    top: 1219px;
}
#CaseZBLL51 {
    left: 570px;
    top: 1219px;
}
#CaseZBLL52 {
    left: 680px;
    top: 1219px;
}
#CaseZBLL53 {
    left: 790px;
    top: 1219px;
}
#CaseZBLL54 {
    left: 900px;
    top: 1219px;
}
#CaseZBLL55 {
    left: 1010px;
    top: 1219px;
}
#CaseZBLL56 {
    left: 1120px;
    top: 1219px;
}
#CaseZBLL57 {
    left: 1230px;
    top: 1219px;
}
#CaseAF {
    left: 20;
    top: 1420;
}
#CaseZBLL58 {
    left: 20px;
    top: 1420px;
}
#CaseZBLL59 {
    left: 130px;
    top: 1420px;
}
#CaseZBLL60 {
    left: 240px;
    top: 1420px;
}
#CaseZBLL61 {
    left: 350px;
    top: 1420px;
}
#CaseZBLL62 {
    left: 460px;
    top: 1420px;
}
#CaseZBLL63 {
    left: 570px;
    top: 1420px;
}
#CaseZBLL64 {
    left: 680px;
    top: 1420px;
}
#CaseZBLL65 {
    left: 790px;
    top: 1420px;
}
#CaseZBLL66 {
    left: 900px;
    top: 1420px;
}
#CaseZBLL67 {
    left: 1010px;
    top: 1420px;
}
#CaseZBLL68 {
    left: 1120px;
    top: 1420px;
}
#CaseZBLL69 {
    left: 1230px;
    top: 1420px;
}
#CaseAL {
    left: 20;
    top: 1621;
}
#CaseZBLL70 {
    left: 20px;
    top: 1621px;
}
#CaseZBLL71 {
    left: 130px;
    top: 1621px;
}
#CaseZBLL72 {
    left: 240px;
    top: 1621px;
}
#CaseZBLL73 {
    left: 350px;
    top: 1621px;
}
#CaseZBLL74 {
    left: 460px;
    top: 1621px;
}
#CaseZBLL75 {
    left: 570px;
    top: 1621px;
}
#CaseZBLL76 {
    left: 680px;
    top: 1621px;
}
#CaseZBLL77 {
    left: 790px;
    top: 1621px;
}
#CaseZBLL78 {
    left: 900px;
    top: 1621px;
}
#CaseZBLL79 {
    left: 1010px;
    top: 1621px;
}
#CaseZBLL80 {
    left: 1120px;
    top: 1621px;
}
#CaseZBLL81 {
    left: 1230px;
    top: 1621px;
}
#CaseAR {
    left: 20;
    top: 1822;
}
#CaseZBLL82 {
    left: 20px;
    top: 1822px;
}
#CaseZBLL83 {
    left: 130px;
    top: 1822px;
}
#CaseZBLL84 {
    left: 240px;
    top: 1822px;
}
#CaseZBLL85 {
    left: 350px;
    top: 1822px;
}
#CaseZBLL86 {
    left: 460px;
    top: 1822px;
}
#CaseZBLL87 {
    left: 570px;
    top: 1822px;
}
#CaseZBLL88 {
    left: 680px;
    top: 1822px;
}
#CaseZBLL89 {
    left: 790px;
    top: 1822px;
}
#CaseZBLL90 {
    left: 900px;
    top: 1822px;
}
#CaseZBLL91 {
    left: 1010px;
    top: 1822px;
}
#CaseZBLL92 {
    left: 1120px;
    top: 1822px;
}
#CaseZBLL93 {
    left: 1230px;
    top: 1822px;
}
#CaseH0 {
    left: 20;
    top: 2085;
}
#CaseZBLL94 {
    left: 20px;
    top: 2085px;
}
#CaseZBLL95 {
    left: 130px;
    top: 2085px;
}
#CaseZBLL96 {
    left: 240px;
    top: 2085px;
}
#CaseZBLL97 {
    left: 350px;
    top: 2085px;
}
#CaseZBLL98 {
    left: 460px;
    top: 2085px;
}
#CaseZBLL99 {
    left: 570px;
    top: 2085px;
}
#CaseZBLL100 {
    left: 680px;
    top: 2085px;
}
#CaseZBLL101 {
    left: 790px;
    top: 2085px;
}
#CaseHD {
    left: 20;
    top: 2286;
}
#CaseZBLL102 {
    left: 20px;
    top: 2286px;
}
#CaseZBLL103 {
    left: 130px;
    top: 2286px;
}
#CaseZBLL104 {
    left: 240px;
    top: 2286px;
}
#CaseZBLL105 {
    left: 350px;
    top: 2286px;
}
#CaseZBLL106 {
    left: 460px;
    top: 2286px;
}
#CaseZBLL107 {
    left: 570px;
    top: 2286px;
}
#CaseZBLL108 {
    left: 680px;
    top: 2286px;
}
#CaseZBLL109 {
    left: 790px;
    top: 2286px;
}
#CaseHF {
    left: 20;
    top: 2487;
}
#CaseZBLL110 {
    left: 20px;
    top: 2487px;
}
#CaseZBLL111 {
    left: 130px;
    top: 2487px;
}
#CaseZBLL112 {
    left: 240px;
    top: 2487px;
}
#CaseZBLL113 {
    left: 350px;
    top: 2487px;
}
#CaseZBLL114 {
    left: 460px;
    top: 2487px;
}
#CaseZBLL115 {
    left: 570px;
    top: 2487px;
}
#CaseZBLL116 {
    left: 680px;
    top: 2487px;
}
#CaseZBLL117 {
    left: 790px;
    top: 2487px;
}
#CaseZBLL118 {
    left: 900px;
    top: 2487px;
}
#CaseZBLL119 {
    left: 1010px;
    top: 2487px;
}
#CaseZBLL120 {
    left: 1120px;
    top: 2487px;
}
#CaseZBLL121 {
    left: 1230px;
    top: 2487px;
}
#CaseHR {
    left: 20;
    top: 2688;
}
#CaseZBLL122 {
    left: 20px;
    top: 2688px;
}
#CaseZBLL123 {
    left: 130px;
    top: 2688px;
}
#CaseZBLL124 {
    left: 240px;
    top: 2688px;
}
#CaseZBLL125 {
    left: 350px;
    top: 2688px;
}
#CaseZBLL126 {
    left: 460px;
    top: 2688px;
}
#CaseZBLL127 {
    left: 570px;
    top: 2688px;
}
#CaseZBLL128 {
    left: 680px;
    top: 2688px;
}
#CaseZBLL129 {
    left: 790px;
    top: 2688px;
}
#CaseZBLL130 {
    left: 900px;
    top: 2688px;
}
#CaseZBLL131 {
    left: 1010px;
    top: 2688px;
}
#CaseZBLL132 {
    left: 1120px;
    top: 2688px;
}
#CaseZBLL133 {
    left: 1230px;
    top: 2688px;
}
#CaseL0 {
    left: 20;
    top: 2951;
}
#CaseZBLL134 {
    left: 20px;
    top: 2951px;
}
#CaseZBLL135 {
    left: 130px;
    top: 2951px;
}
#CaseZBLL136 {
    left: 240px;
    top: 2951px;
}
#CaseZBLL137 {
    left: 350px;
    top: 2951px;
}
#CaseZBLL138 {
    left: 460px;
    top: 2951px;
}
#CaseZBLL139 {
    left: 570px;
    top: 2951px;
}
#CaseZBLL140 {
    left: 680px;
    top: 2951px;
}
#CaseZBLL141 {
    left: 790px;
    top: 2951px;
}
#CaseZBLL142 {
    left: 900px;
    top: 2951px;
}
#CaseZBLL143 {
    left: 1010px;
    top: 2951px;
}
#CaseZBLL144 {
    left: 1120px;
    top: 2951px;
}
#CaseZBLL145 {
    left: 1230px;
    top: 2951px;
}
#CaseLB {
    left: 20;
    top: 3152;
}
#CaseZBLL146 {
    left: 20px;
    top: 3152px;
}
#CaseZBLL147 {
    left: 130px;
    top: 3152px;
}
#CaseZBLL148 {
    left: 240px;
    top: 3152px;
}
#CaseZBLL149 {
    left: 350px;
    top: 3152px;
}
#CaseZBLL150 {
    left: 460px;
    top: 3152px;
}
#CaseZBLL151 {
    left: 570px;
    top: 3152px;
}
#CaseZBLL152 {
    left: 680px;
    top: 3152px;
}
#CaseZBLL153 {
    left: 790px;
    top: 3152px;
}
#CaseZBLL154 {
    left: 900px;
    top: 3152px;
}
#CaseZBLL155 {
    left: 1010px;
    top: 3152px;
}
#CaseZBLL156 {
    left: 1120px;
    top: 3152px;
}
#CaseZBLL157 {
    left: 1230px;
    top: 3152px;
}
#CaseLD {
    left: 20;
    top: 3353;
}
#CaseZBLL158 {
    left: 20px;
    top: 3353px;
}
#CaseZBLL159 {
    left: 130px;
    top: 3353px;
}
#CaseZBLL160 {
    left: 240px;
    top: 3353px;
}
#CaseZBLL161 {
    left: 350px;
    top: 3353px;
}
#CaseZBLL162 {
    left: 460px;
    top: 3353px;
}
#CaseZBLL163 {
    left: 570px;
    top: 3353px;
}
#CaseZBLL164 {
    left: 680px;
    top: 3353px;
}
#CaseZBLL165 {
    left: 790px;
    top: 3353px;
}
#CaseZBLL166 {
    left: 900px;
    top: 3353px;
}
#CaseZBLL167 {
    left: 1010px;
    top: 3353px;
}
#CaseZBLL168 {
    left: 1120px;
    top: 3353px;
}
#CaseZBLL169 {
    left: 1230px;
    top: 3353px;
}
#CaseLF {
    left: 20;
    top: 3554;
}
#CaseZBLL170 {
    left: 20px;
    top: 3554px;
}
#CaseZBLL171 {
    left: 130px;
    top: 3554px;
}
#CaseZBLL172 {
    left: 240px;
    top: 3554px;
}
#CaseZBLL173 {
    left: 350px;
    top: 3554px;
}
#CaseZBLL174 {
    left: 460px;
    top: 3554px;
}
#CaseZBLL175 {
    left: 570px;
    top: 3554px;
}
#CaseZBLL176 {
    left: 680px;
    top: 3554px;
}
#CaseZBLL177 {
    left: 790px;
    top: 3554px;
}
#CaseZBLL178 {
    left: 900px;
    top: 3554px;
}
#CaseZBLL179 {
    left: 1010px;
    top: 3554px;
}
#CaseZBLL180 {
    left: 1120px;
    top: 3554px;
}
#CaseZBLL181 {
    left: 1230px;
    top: 3554px;
}
#CaseLL {
    left: 20;
    top: 3755;
}
#CaseZBLL182 {
    left: 20px;
    top: 3755px;
}
#CaseZBLL183 {
    left: 130px;
    top: 3755px;
}
#CaseZBLL184 {
    left: 240px;
    top: 3755px;
}
#CaseZBLL185 {
    left: 350px;
    top: 3755px;
}
#CaseZBLL186 {
    left: 460px;
    top: 3755px;
}
#CaseZBLL187 {
    left: 570px;
    top: 3755px;
}
#CaseZBLL188 {
    left: 680px;
    top: 3755px;
}
#CaseZBLL189 {
    left: 790px;
    top: 3755px;
}
#CaseZBLL190 {
    left: 900px;
    top: 3755px;
}
#CaseZBLL191 {
    left: 1010px;
    top: 3755px;
}
#CaseZBLL192 {
    left: 1120px;
    top: 3755px;
}
#CaseZBLL193 {
    left: 1230px;
    top: 3755px;
}
#CaseLR {
    left: 20;
    top: 3956;
}
#CaseZBLL194 {
    left: 20px;
    top: 3956px;
}
#CaseZBLL195 {
    left: 130px;
    top: 3956px;
}
#CaseZBLL196 {
    left: 240px;
    top: 3956px;
}
#CaseZBLL197 {
    left: 350px;
    top: 3956px;
}
#CaseZBLL198 {
    left: 460px;
    top: 3956px;
}
#CaseZBLL199 {
    left: 570px;
    top: 3956px;
}
#CaseZBLL200 {
    left: 680px;
    top: 3956px;
}
#CaseZBLL201 {
    left: 790px;
    top: 3956px;
}
#CaseZBLL202 {
    left: 900px;
    top: 3956px;
}
#CaseZBLL203 {
    left: 1010px;
    top: 3956px;
}
#CaseZBLL204 {
    left: 1120px;
    top: 3956px;
}
#CaseZBLL205 {
    left: 1230px;
    top: 3956px;
}
#CaseP0 {
    left: 20;
    top: 4219;
}
#CaseZBLL206 {
    left: 20px;
    top: 4219px;
}
#CaseZBLL207 {
    left: 130px;
    top: 4219px;
}
#CaseZBLL208 {
    left: 240px;
    top: 4219px;
}
#CaseZBLL209 {
    left: 350px;
    top: 4219px;
}
#CaseZBLL210 {
    left: 460px;
    top: 4219px;
}
#CaseZBLL211 {
    left: 570px;
    top: 4219px;
}
#CaseZBLL212 {
    left: 680px;
    top: 4219px;
}
#CaseZBLL213 {
    left: 790px;
    top: 4219px;
}
#CaseZBLL214 {
    left: 900px;
    top: 4219px;
}
#CaseZBLL215 {
    left: 1010px;
    top: 4219px;
}
#CaseZBLL216 {
    left: 1120px;
    top: 4219px;
}
#CaseZBLL217 {
    left: 1230px;
    top: 4219px;
}
#CasePB {
    left: 20;
    top: 4420;
}
#CaseZBLL218 {
    left: 20px;
    top: 4420px;
}
#CaseZBLL219 {
    left: 130px;
    top: 4420px;
}
#CaseZBLL220 {
    left: 240px;
    top: 4420px;
}
#CaseZBLL221 {
    left: 350px;
    top: 4420px;
}
#CaseZBLL222 {
    left: 460px;
    top: 4420px;
}
#CaseZBLL223 {
    left: 570px;
    top: 4420px;
}
#CaseZBLL224 {
    left: 680px;
    top: 4420px;
}
#CaseZBLL225 {
    left: 790px;
    top: 4420px;
}
#CaseZBLL226 {
    left: 900px;
    top: 4420px;
}
#CaseZBLL227 {
    left: 1010px;
    top: 4420px;
}
#CaseZBLL228 {
    left: 1120px;
    top: 4420px;
}
#CaseZBLL229 {
    left: 1230px;
    top: 4420px;
}
#CasePD {
    left: 20;
    top: 4621;
}
#CaseZBLL230 {
    left: 20px;
    top: 4621px;
}
#CaseZBLL231 {
    left: 130px;
    top: 4621px;
}
#CaseZBLL232 {
    left: 240px;
    top: 4621px;
}
#CaseZBLL233 {
    left: 350px;
    top: 4621px;
}
#CaseZBLL234 {
    left: 460px;
    top: 4621px;
}
#CaseZBLL235 {
    left: 570px;
    top: 4621px;
}
#CaseZBLL236 {
    left: 680px;
    top: 4621px;
}
#CaseZBLL237 {
    left: 790px;
    top: 4621px;
}
#CaseZBLL238 {
    left: 900px;
    top: 4621px;
}
#CaseZBLL239 {
    left: 1010px;
    top: 4621px;
}
#CaseZBLL240 {
    left: 1120px;
    top: 4621px;
}
#CaseZBLL241 {
    left: 1230px;
    top: 4621px;
}
#CasePF {
    left: 20;
    top: 4822;
}
#CaseZBLL242 {
    left: 20px;
    top: 4822px;
}
#CaseZBLL243 {
    left: 130px;
    top: 4822px;
}
#CaseZBLL244 {
    left: 240px;
    top: 4822px;
}
#CaseZBLL245 {
    left: 350px;
    top: 4822px;
}
#CaseZBLL246 {
    left: 460px;
    top: 4822px;
}
#CaseZBLL247 {
    left: 570px;
    top: 4822px;
}
#CaseZBLL248 {
    left: 680px;
    top: 4822px;
}
#CaseZBLL249 {
    left: 790px;
    top: 4822px;
}
#CaseZBLL250 {
    left: 900px;
    top: 4822px;
}
#CaseZBLL251 {
    left: 1010px;
    top: 4822px;
}
#CaseZBLL252 {
    left: 1120px;
    top: 4822px;
}
#CaseZBLL253 {
    left: 1230px;
    top: 4822px;
}
#CasePL {
    left: 20;
    top: 5023;
}
#CaseZBLL254 {
    left: 20px;
    top: 5023px;
}
#CaseZBLL255 {
    left: 130px;
    top: 5023px;
}
#CaseZBLL256 {
    left: 240px;
    top: 5023px;
}
#CaseZBLL257 {
    left: 350px;
    top: 5023px;
}
#CaseZBLL258 {
    left: 460px;
    top: 5023px;
}
#CaseZBLL259 {
    left: 570px;
    top: 5023px;
}
#CaseZBLL260 {
    left: 680px;
    top: 5023px;
}
#CaseZBLL261 {
    left: 790px;
    top: 5023px;
}
#CaseZBLL262 {
    left: 900px;
    top: 5023px;
}
#CaseZBLL263 {
    left: 1010px;
    top: 5023px;
}
#CaseZBLL264 {
    left: 1120px;
    top: 5023px;
}
#CaseZBLL265 {
    left: 1230px;
    top: 5023px;
}
#CasePR {
    left: 20;
    top: 5224;
}
#CaseZBLL266 {
    left: 20px;
    top: 5224px;
}
#CaseZBLL267 {
    left: 130px;
    top: 5224px;
}
#CaseZBLL268 {
    left: 240px;
    top: 5224px;
}
#CaseZBLL269 {
    left: 350px;
    top: 5224px;
}
#CaseZBLL270 {
    left: 460px;
    top: 5224px;
}
#CaseZBLL271 {
    left: 570px;
    top: 5224px;
}
#CaseZBLL272 {
    left: 680px;
    top: 5224px;
}
#CaseZBLL273 {
    left: 790px;
    top: 5224px;
}
#CaseZBLL274 {
    left: 900px;
    top: 5224px;
}
#CaseZBLL275 {
    left: 1010px;
    top: 5224px;
}
#CaseZBLL276 {
    left: 1120px;
    top: 5224px;
}
#CaseZBLL277 {
    left: 1230px;
    top: 5224px;
}
#CaseS0 {
    left: 20;
    top: 5487;
}
#CaseZBLL278 {
    left: 20px;
    top: 5487px;
}
#CaseZBLL279 {
    left: 130px;
    top: 5487px;
}
#CaseZBLL280 {
    left: 240px;
    top: 5487px;
}
#CaseZBLL281 {
    left: 350px;
    top: 5487px;
}
#CaseZBLL282 {
    left: 460px;
    top: 5487px;
}
#CaseZBLL283 {
    left: 570px;
    top: 5487px;
}
#CaseZBLL284 {
    left: 680px;
    top: 5487px;
}
#CaseZBLL285 {
    left: 790px;
    top: 5487px;
}
#CaseZBLL286 {
    left: 900px;
    top: 5487px;
}
#CaseZBLL287 {
    left: 1010px;
    top: 5487px;
}
#CaseZBLL288 {
    left: 1120px;
    top: 5487px;
}
#CaseZBLL289 {
    left: 1230px;
    top: 5487px;
}
#CaseSB {
    left: 20;
    top: 5688;
}
#CaseZBLL290 {
    left: 20px;
    top: 5688px;
}
#CaseZBLL291 {
    left: 130px;
    top: 5688px;
}
#CaseZBLL292 {
    left: 240px;
    top: 5688px;
}
#CaseZBLL293 {
    left: 350px;
    top: 5688px;
}
#CaseZBLL294 {
    left: 460px;
    top: 5688px;
}
#CaseZBLL295 {
    left: 570px;
    top: 5688px;
}
#CaseZBLL296 {
    left: 680px;
    top: 5688px;
}
#CaseZBLL297 {
    left: 790px;
    top: 5688px;
}
#CaseZBLL298 {
    left: 900px;
    top: 5688px;
}
#CaseZBLL299 {
    left: 1010px;
    top: 5688px;
}
#CaseZBLL300 {
    left: 1120px;
    top: 5688px;
}
#CaseZBLL301 {
    left: 1230px;
    top: 5688px;
}
#CaseSD {
    left: 20;
    top: 5889;
}
#CaseZBLL302 {
    left: 20px;
    top: 5889px;
}
#CaseZBLL303 {
    left: 130px;
    top: 5889px;
}
#CaseZBLL304 {
    left: 240px;
    top: 5889px;
}
#CaseZBLL305 {
    left: 350px;
    top: 5889px;
}
#CaseZBLL306 {
    left: 460px;
    top: 5889px;
}
#CaseZBLL307 {
    left: 570px;
    top: 5889px;
}
#CaseZBLL308 {
    left: 680px;
    top: 5889px;
}
#CaseZBLL309 {
    left: 790px;
    top: 5889px;
}
#CaseZBLL310 {
    left: 900px;
    top: 5889px;
}
#CaseZBLL311 {
    left: 1010px;
    top: 5889px;
}
#CaseZBLL312 {
    left: 1120px;
    top: 5889px;
}
#CaseZBLL313 {
    left: 1230px;
    top: 5889px;
}
#CaseSF {
    left: 20;
    top: 6090;
}
#CaseZBLL314 {
    left: 20px;
    top: 6090px;
}
#CaseZBLL315 {
    left: 130px;
    top: 6090px;
}
#CaseZBLL316 {
    left: 240px;
    top: 6090px;
}
#CaseZBLL317 {
    left: 350px;
    top: 6090px;
}
#CaseZBLL318 {
    left: 460px;
    top: 6090px;
}
#CaseZBLL319 {
    left: 570px;
    top: 6090px;
}
#CaseZBLL320 {
    left: 680px;
    top: 6090px;
}
#CaseZBLL321 {
    left: 790px;
    top: 6090px;
}
#CaseZBLL322 {
    left: 900px;
    top: 6090px;
}
#CaseZBLL323 {
    left: 1010px;
    top: 6090px;
}
#CaseZBLL324 {
    left: 1120px;
    top: 6090px;
}
#CaseZBLL325 {
    left: 1230px;
    top: 6090px;
}
#CaseSL {
    left: 20;
    top: 6291;
}
#CaseZBLL326 {
    left: 20px;
    top: 6291px;
}
#CaseZBLL327 {
    left: 130px;
    top: 6291px;
}
#CaseZBLL328 {
    left: 240px;
    top: 6291px;
}
#CaseZBLL329 {
    left: 350px;
    top: 6291px;
}
#CaseZBLL330 {
    left: 460px;
    top: 6291px;
}
#CaseZBLL331 {
    left: 570px;
    top: 6291px;
}
#CaseZBLL332 {
    left: 680px;
    top: 6291px;
}
#CaseZBLL333 {
    left: 790px;
    top: 6291px;
}
#CaseZBLL334 {
    left: 900px;
    top: 6291px;
}
#CaseZBLL335 {
    left: 1010px;
    top: 6291px;
}
#CaseZBLL336 {
    left: 1120px;
    top: 6291px;
}
#CaseZBLL337 {
    left: 1230px;
    top: 6291px;
}
#CaseSR {
    left: 20;
    top: 6492;
}
#CaseZBLL338 {
    left: 20px;
    top: 6492px;
}
#CaseZBLL339 {
    left: 130px;
    top: 6492px;
}
#CaseZBLL340 {
    left: 240px;
    top: 6492px;
}
#CaseZBLL341 {
    left: 350px;
    top: 6492px;
}
#CaseZBLL342 {
    left: 460px;
    top: 6492px;
}
#CaseZBLL343 {
    left: 570px;
    top: 6492px;
}
#CaseZBLL344 {
    left: 680px;
    top: 6492px;
}
#CaseZBLL345 {
    left: 790px;
    top: 6492px;
}
#CaseZBLL346 {
    left: 900px;
    top: 6492px;
}
#CaseZBLL347 {
    left: 1010px;
    top: 6492px;
}
#CaseZBLL348 {
    left: 1120px;
    top: 6492px;
}
#CaseZBLL349 {
    left: 1230px;
    top: 6492px;
}
#CaseT0 {
    left: 20;
    top: 6755;
}
#CaseZBLL350 {
    left: 20px;
    top: 6755px;
}
#CaseZBLL351 {
    left: 130px;
    top: 6755px;
}
#CaseZBLL352 {
    left: 240px;
    top: 6755px;
}
#CaseZBLL353 {
    left: 350px;
    top: 6755px;
}
#CaseZBLL354 {
    left: 460px;
    top: 6755px;
}
#CaseZBLL355 {
    left: 570px;
    top: 6755px;
}
#CaseZBLL356 {
    left: 680px;
    top: 6755px;
}
#CaseZBLL357 {
    left: 790px;
    top: 6755px;
}
#CaseZBLL358 {
    left: 900px;
    top: 6755px;
}
#CaseZBLL359 {
    left: 1010px;
    top: 6755px;
}
#CaseZBLL360 {
    left: 1120px;
    top: 6755px;
}
#CaseZBLL361 {
    left: 1230px;
    top: 6755px;
}
#CaseTB {
    left: 20;
    top: 6956;
}
#CaseZBLL362 {
    left: 20px;
    top: 6956px;
}
#CaseZBLL363 {
    left: 130px;
    top: 6956px;
}
#CaseZBLL364 {
    left: 240px;
    top: 6956px;
}
#CaseZBLL365 {
    left: 350px;
    top: 6956px;
}
#CaseZBLL366 {
    left: 460px;
    top: 6956px;
}
#CaseZBLL367 {
    left: 570px;
    top: 6956px;
}
#CaseZBLL368 {
    left: 680px;
    top: 6956px;
}
#CaseZBLL369 {
    left: 790px;
    top: 6956px;
}
#CaseZBLL370 {
    left: 900px;
    top: 6956px;
}
#CaseZBLL371 {
    left: 1010px;
    top: 6956px;
}
#CaseZBLL372 {
    left: 1120px;
    top: 6956px;
}
#CaseZBLL373 {
    left: 1230px;
    top: 6956px;
}
#CaseTD {
    left: 20;
    top: 7157;
}
#CaseZBLL374 {
    left: 20px;
    top: 7157px;
}
#CaseZBLL375 {
    left: 130px;
    top: 7157px;
}
#CaseZBLL376 {
    left: 240px;
    top: 7157px;
}
#CaseZBLL377 {
    left: 350px;
    top: 7157px;
}
#CaseZBLL378 {
    left: 460px;
    top: 7157px;
}
#CaseZBLL379 {
    left: 570px;
    top: 7157px;
}
#CaseZBLL380 {
    left: 680px;
    top: 7157px;
}
#CaseZBLL381 {
    left: 790px;
    top: 7157px;
}
#CaseZBLL382 {
    left: 900px;
    top: 7157px;
}
#CaseZBLL383 {
    left: 1010px;
    top: 7157px;
}
#CaseZBLL384 {
    left: 1120px;
    top: 7157px;
}
#CaseZBLL385 {
    left: 1230px;
    top: 7157px;
}
#CaseTF {
    left: 20;
    top: 7358;
}
#CaseZBLL386 {
    left: 20px;
    top: 7358px;
}
#CaseZBLL387 {
    left: 130px;
    top: 7358px;
}
#CaseZBLL388 {
    left: 240px;
    top: 7358px;
}
#CaseZBLL389 {
    left: 350px;
    top: 7358px;
}
#CaseZBLL390 {
    left: 460px;
    top: 7358px;
}
#CaseZBLL391 {
    left: 570px;
    top: 7358px;
}
#CaseZBLL392 {
    left: 680px;
    top: 7358px;
}
#CaseZBLL393 {
    left: 790px;
    top: 7358px;
}
#CaseZBLL394 {
    left: 900px;
    top: 7358px;
}
#CaseZBLL395 {
    left: 1010px;
    top: 7358px;
}
#CaseZBLL396 {
    left: 1120px;
    top: 7358px;
}
#CaseZBLL397 {
    left: 1230px;
    top: 7358px;
}
#CaseTL {
    left: 20;
    top: 7559;
}
#CaseZBLL398 {
    left: 20px;
    top: 7559px;
}
#CaseZBLL399 {
    left: 130px;
    top: 7559px;
}
#CaseZBLL400 {
    left: 240px;
    top: 7559px;
}
#CaseZBLL401 {
    left: 350px;
    top: 7559px;
}
#CaseZBLL402 {
    left: 460px;
    top: 7559px;
}
#CaseZBLL403 {
    left: 570px;
    top: 7559px;
}
#CaseZBLL404 {
    left: 680px;
    top: 7559px;
}
#CaseZBLL405 {
    left: 790px;
    top: 7559px;
}
#CaseZBLL406 {
    left: 900px;
    top: 7559px;
}
#CaseZBLL407 {
    left: 1010px;
    top: 7559px;
}
#CaseZBLL408 {
    left: 1120px;
    top: 7559px;
}
#CaseZBLL409 {
    left: 1230px;
    top: 7559px;
}
#CaseTR {
    left: 20;
    top: 7760;
}
#CaseZBLL410 {
    left: 20px;
    top: 7760px;
}
#CaseZBLL411 {
    left: 130px;
    top: 7760px;
}
#CaseZBLL412 {
    left: 240px;
    top: 7760px;
}
#CaseZBLL413 {
    left: 350px;
    top: 7760px;
}
#CaseZBLL414 {
    left: 460px;
    top: 7760px;
}
#CaseZBLL415 {
    left: 570px;
    top: 7760px;
}
#CaseZBLL416 {
    left: 680px;
    top: 7760px;
}
#CaseZBLL417 {
    left: 790px;
    top: 7760px;
}
#CaseZBLL418 {
    left: 900px;
    top: 7760px;
}
#CaseZBLL419 {
    left: 1010px;
    top: 7760px;
}
#CaseZBLL420 {
    left: 1120px;
    top: 7760px;
}
#CaseZBLL421 {
    left: 1230px;
    top: 7760px;
}
#CaseU0 {
    left: 20;
    top: 8023;
}
#CaseZBLL422 {
    left: 20px;
    top: 8023px;
}
#CaseZBLL423 {
    left: 130px;
    top: 8023px;
}
#CaseZBLL424 {
    left: 240px;
    top: 8023px;
}
#CaseZBLL425 {
    left: 350px;
    top: 8023px;
}
#CaseZBLL426 {
    left: 460px;
    top: 8023px;
}
#CaseZBLL427 {
    left: 570px;
    top: 8023px;
}
#CaseZBLL428 {
    left: 680px;
    top: 8023px;
}
#CaseZBLL429 {
    left: 790px;
    top: 8023px;
}
#CaseZBLL430 {
    left: 900px;
    top: 8023px;
}
#CaseZBLL431 {
    left: 1010px;
    top: 8023px;
}
#CaseZBLL432 {
    left: 1120px;
    top: 8023px;
}
#CaseZBLL433 {
    left: 1230px;
    top: 8023px;
}
#CaseUB {
    left: 20;
    top: 8224;
}
#CaseZBLL434 {
    left: 20px;
    top: 8224px;
}
#CaseZBLL435 {
    left: 130px;
    top: 8224px;
}
#CaseZBLL436 {
    left: 240px;
    top: 8224px;
}
#CaseZBLL437 {
    left: 350px;
    top: 8224px;
}
#CaseZBLL438 {
    left: 460px;
    top: 8224px;
}
#CaseZBLL439 {
    left: 570px;
    top: 8224px;
}
#CaseZBLL440 {
    left: 680px;
    top: 8224px;
}
#CaseZBLL441 {
    left: 790px;
    top: 8224px;
}
#CaseZBLL442 {
    left: 900px;
    top: 8224px;
}
#CaseZBLL443 {
    left: 1010px;
    top: 8224px;
}
#CaseZBLL444 {
    left: 1120px;
    top: 8224px;
}
#CaseZBLL445 {
    left: 1230px;
    top: 8224px;
}
#CaseUD {
    left: 20;
    top: 8425;
}
#CaseZBLL446 {
    left: 20px;
    top: 8425px;
}
#CaseZBLL447 {
    left: 130px;
    top: 8425px;
}
#CaseZBLL448 {
    left: 240px;
    top: 8425px;
}
#CaseZBLL449 {
    left: 350px;
    top: 8425px;
}
#CaseZBLL450 {
    left: 460px;
    top: 8425px;
}
#CaseZBLL451 {
    left: 570px;
    top: 8425px;
}
#CaseZBLL452 {
    left: 680px;
    top: 8425px;
}
#CaseZBLL453 {
    left: 790px;
    top: 8425px;
}
#CaseZBLL454 {
    left: 900px;
    top: 8425px;
}
#CaseZBLL455 {
    left: 1010px;
    top: 8425px;
}
#CaseZBLL456 {
    left: 1120px;
    top: 8425px;
}
#CaseZBLL457 {
    left: 1230px;
    top: 8425px;
}
#CaseUF {
    left: 20;
    top: 8626;
}
#CaseZBLL458 {
    left: 20px;
    top: 8626px;
}
#CaseZBLL459 {
    left: 130px;
    top: 8626px;
}
#CaseZBLL460 {
    left: 240px;
    top: 8626px;
}
#CaseZBLL461 {
    left: 350px;
    top: 8626px;
}
#CaseZBLL462 {
    left: 460px;
    top: 8626px;
}
#CaseZBLL463 {
    left: 570px;
    top: 8626px;
}
#CaseZBLL464 {
    left: 680px;
    top: 8626px;
}
#CaseZBLL465 {
    left: 790px;
    top: 8626px;
}
#CaseZBLL466 {
    left: 900px;
    top: 8626px;
}
#CaseZBLL467 {
    left: 1010px;
    top: 8626px;
}
#CaseZBLL468 {
    left: 1120px;
    top: 8626px;
}
#CaseZBLL469 {
    left: 1230px;
    top: 8626px;
}
#CaseUL {
    left: 20;
    top: 8827;
}
#CaseZBLL470 {
    left: 20px;
    top: 8827px;
}
#CaseZBLL471 {
    left: 130px;
    top: 8827px;
}
#CaseZBLL472 {
    left: 240px;
    top: 8827px;
}
#CaseZBLL473 {
    left: 350px;
    top: 8827px;
}
#CaseZBLL474 {
    left: 460px;
    top: 8827px;
}
#CaseZBLL475 {
    left: 570px;
    top: 8827px;
}
#CaseZBLL476 {
    left: 680px;
    top: 8827px;
}
#CaseZBLL477 {
    left: 790px;
    top: 8827px;
}
#CaseZBLL478 {
    left: 900px;
    top: 8827px;
}
#CaseZBLL479 {
    left: 1010px;
    top: 8827px;
}
#CaseZBLL480 {
    left: 1120px;
    top: 8827px;
}
#CaseZBLL481 {
    left: 1230px;
    top: 8827px;
}
#CaseUR {
    left: 20;
    top: 9028;
}
#CaseZBLL482 {
    left: 20px;
    top: 9028px;
}
#CaseZBLL483 {
    left: 130px;
    top: 9028px;
}
#CaseZBLL484 {
    left: 240px;
    top: 9028px;
}
#CaseZBLL485 {
    left: 350px;
    top: 9028px;
}
#CaseZBLL486 {
    left: 460px;
    top: 9028px;
}
#CaseZBLL487 {
    left: 570px;
    top: 9028px;
}
#CaseZBLL488 {
    left: 680px;
    top: 9028px;
}
#CaseZBLL489 {
    left: 790px;
    top: 9028px;
}
#CaseZBLL490 {
    left: 900px;
    top: 9028px;
}
#CaseZBLL491 {
    left: 1010px;
    top: 9028px;
}
#CaseZBLL492 {
    left: 1120px;
    top: 9028px;
}
#CaseZBLL493 {
    left: 1230px;
    top: 9028px;
}